* {
  margin: 0;
  padding: 0;
  /* background-color: #141517; */
  font-family: "Montserrat";
  scroll-behavior: smooth;
}

.mantine-AppShell-main {
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #141517;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #4c6ef5 0%, #15aabf 100%);
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #4c6ef5 0%, #15aabf 100%);
}
